<template>
    <div v-if="user" class="app-container">
        <header class="header">
            <p>Welcome, {{ user.name }}</p>
            <button @click="logout">Logout</button>
        </header>

        <main class="main">
            <router-view/>
        </main>

        <footer v-if="user" class="footer">
            <p>Logged in as {{ user.email }}</p>
        </footer>

    </div>
    <auth ref="auth" class="login" @loggedIn="handlerLoggedIn"></auth>
</template>
<style>
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
}

.header p {
    margin: 0;
}

.main {
    flex-grow: 1;
    padding: 1rem;
}

.footer {
    background-color: #eee;
    padding: 1rem;
}

.footer p {
    margin: 0;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
</style>

<script>
import Auth from './Components/Auth.vue';
import axios from "axios";

export default {
    components: {
        Auth: Auth,
    },
    data() {
        return {
            user: null,
            token: null,
            auth: null
        }
    },
    async created() {
        try {
            const response = await axios.get('/api/user',
                {
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                }
            );
            this.user = response.data;
        } catch (error) {
            console.log(error);
        }
    },
    methods: {
        logout() {
            this.$refs.auth.logout()
            this.user = null
        },
        handlerLoggedIn() {
            console.log('loggedIn')
            console.log(this.user)
            this.user = this.$refs.auth.user
        }
    }
};
</script>
