<template>
    <div v-if="!token" class="sidebar-forms">
        <h1 v-if="!token">Register</h1>
        <form v-if="!token" class="form" @submit.prevent="register">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" v-model="form.name" autofocus required type="text"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" v-model="form.email" required type="email"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" v-model="form.password" required type="password"/>
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input
                    id="password_confirmation"
                    v-model="form.password_confirmation"
                    required
                    type="password"
                />
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>

        <h1 v-if="!token">Login</h1>
        <form v-if="!token" class="form" @submit.prevent="login">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" v-model="form.email" autofocus required type="email"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" v-model="form.password" required type="password"/>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</template>
<style>
.sidebar-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}
</style>
<script>
import axios from "axios";

const TOKEN_KEY = "token";
const USER_KEY = "user";

export default {
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            },
            user: null,
            token: localStorage.getItem(TOKEN_KEY)
        };
    },
    emits: {
        loggedIn() {

        }
    },
    watch: {
        token: {
            handler(newVal, oldVal) {
                console.log("Токен изменился с", oldVal, "на", newVal);
            },
            deep: true
        }
    },
    methods: {
        async register() {
            try {
                const response = await this.post("/api/register", this.form);
                this.setToken(response.data.token);
                await this.initUser();
            } catch (error) {
                console.error(error);
            }
        },
        async login() {
            try {
                const response = await this.post("/api/login", this.form);
                this.setToken(response.data.token);
                await this.initUser();
                this.$emit('loggedIn');
            } catch (error) {
                console.error(error);
            }
        },
        async logout() {
            try {
                await this.post("/api/logout");
                this.clearToken();
                this.clearUser();
            } catch (error) {
                console.error(error);
            }
        },
        async initUser() {
            try {
                const response = await this.get("/api/user");
                this.setUser(response.data);
            } catch (error) {
                console.error(error);
            }
        },
        async post(url, data = null, config = {}) {
            config.headers = this.getHeaders();
            return axios.post(url, data, config);
        },
        async get(url, config = {}) {
            config.headers = this.getHeaders();
            return axios.get(url, config);
        },
        getHeaders() {
            return {
                Authorization: `Bearer ${this.token}`
            };
        },
        setToken(token) {
            this.token = token;
            localStorage.setItem(TOKEN_KEY, token);
        },
        clearToken() {
            this.token = null;
            localStorage.removeItem(TOKEN_KEY);
        },
        setUser(user) {
            this.user = user;
            localStorage.setItem(USER_KEY, JSON.stringify(user));
        },
        clearUser() {
            this.user = null;
            localStorage.removeItem(USER_KEY);
        },
        handleLogoutClick() {
            this.clearToken();
            this.clearUser();
        }

    }
}
</script>
