<template>
    <div class="chat-container">
        <div ref="messagesContainer" class="messages">
            <div v-for="(message, index) in messages" :key="index" class="message"> {{ message }}</div>
        </div>
        <form class="message-form" @submit.prevent="sendMessage">
            <input
                v-model="newMessage"
                class="message-input"
                type="text">
            <button
                :class="{disabled: !newMessage }"
                :disabled="loading||!newMessage"
                class="message-button"
                type="submit">
                <span v-if="loading">Отправка...</span>
                <span v-else>Отправить</span>
            </button>
        </form>
    </div>
</template>
<style> .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow-y: scroll;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.message {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 0.5rem;
}

.message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.message-input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 1rem;
    flex-grow: 1;
}

.message-button {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
} </style>

<script>
import axios from "axios";

const AUTH_HEADER = 'Authorization';

export default {
    data() {
        return {
            messages: [],
            newMessage: '',
            loading: false,
        };
    },
    async mounted() {
        this.initToken();
        await this.initMessages();
        window.Echo.channel('chat').listen('MessageSent', (event) => {
            this.updateMessages(`${event.user}: ${event.message}`);
        });
    },
    methods: {
        async sendMessage() {
            if (!this.newMessage) {
                return;
            }

            this.loading = true;

            try {
                await axios.post(
                    '/api/messages',
                    {
                        message: this.newMessage
                    },
                    {
                        headers: {
                            [AUTH_HEADER]: `Bearer ${localStorage.getItem('token')}`
                        }
                    }
                );
                this.newMessage = '';
            } catch (error) {
                console.error(error);
            }

            this.loading = false;
        },
        async initMessages() {
            try {
                const response = await axios.get(
                    '/api/messages',
                    {
                        headers: {
                            [AUTH_HEADER]: `Bearer ${localStorage.getItem('token')}`
                        }
                    }
                );
                const messages = response.data.data.reverse();
                messages.forEach(message => {
                    const data = `${message.user.name}: ${message.message}`
                    this.updateMessages(data)
                })
            } catch (error) {
                console.error(error);
            }
        },
        initToken() {
            this.token = localStorage.getItem('token');
        },
        updateMessages(message) {
            this.messages.push(message);
            setTimeout(() => {
                this.$refs.messagesContainer.scrollTop = this.$refs.messagesContainer.scrollHeight;
            }, 50);
        },
    },
};
</script>
